<!DOCTYPE html>
<html lang="fr" data-ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="../required/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/angularController.js"></script>
    <title>Ex1 : Note d'application</title>
</head>
<body data-ng-controller="myController as ctrl">
<div class="panel panel-default">
    <div class="panel-heading">Ex1 : Note d'application</div>
    <div class="panel-body">
        <textarea data-ng-model="ctrl.message"></textarea><br>
        <div>
            <a class="btn btn-primary" data-ng-click="ctrl.save()">Enregistrer</a> <!-- execute la fonction save qui change message -->
            <a class="btn btn-primary" data-ng-show="ctrl.messageNote">Charger</a> <!-- si messageNote est bien défini -->
            <a class="btn btn-primary" data-ng-click="ctrl.clear()">Effacer</a> <!-- execute la fonction save qui change message -->
        </div>
    </div>
    <div data-ng-model="status" class="alert alert-info" data-ng-class="{'alert alert-warning': ctrl.count() < 50 , 'alert alert-danger': ctrl.count() < 20}"> <!-- change la class actuelle -->
        Nombre de caractères restant : {{ctrl.count()}}
    </div>
    <div data-ng-model="info" class="alert alert-info" data-ng-class="{'alert alert-success': ctrl.info == ctrl.info}">
        {{ctrl.info}}
    </div>
</div>
</body>
</html>